@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body {
  background-image: url('./images/marble.jpg');
  background-size: 100vw;
}

.App {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  margin : 0 auto;
  align-items: center;
}

.button {
  margin: 0 auto; 
  display : flex;
  flex-direction: row;
  gap: 4rem;
  margin: 2rem;
}

table {
  margin-bottom: 1rem;
  background-color: white;
}

table, th, td {
  border-collapse: collapse;
  border: 1px dotted black;
  width: 90vw;
  padding: 0.5rem;
}

h1 {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1.5rem;
  padding: 0 1rem; 
}

h1, th {
  text-shadow: 0.3rem 0.3rem 0.3rem lightgray;
}

td:nth-child(2) {
  font-weight: 700;
}

td:last-child, th {
  background-color: whitesmoke;
}

.delete-btn {
  background-color: red;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
}

.delete-btn:hover {
  border: 1px dashed red;
  border-radius: 0.5rem;
  background: white;
  color: red;
}

button {
  border-radius: 0.5rem;
  border: 1px dashed rgb(65, 196, 236);
  padding: 0.5rem;
  background-color: rgb(65, 196, 236);
  color: white;
  font-weight: 600;
  font-size:medium;
  box-shadow: 0.2rem 0.2rem 0.2rem lightgray;
}

button:hover {
  border-radius: 0.5rem;
  border: 1px dashed rgb(65, 196, 236);
  padding: 0.5rem;
  background-color: white;
  color: rgb(65, 196, 236);
  font-weight: 600;
  box-shadow: 0.2rem 0.2rem 0.2rem darkgrey;
  cursor: pointer;
}

img {
  border: 1px solid lightgrey;
}